html, body {
    height: 100%;
    margin: 0;
    
}

.result-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    background-color: #0C090A;
}

.image-container, .distances-container, .time-container {
    flex: 1;
    min-width: 0;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-title, .distances-title, .time-title{
    color: #E4DB49;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 50px;
}

.image-container img {
    max-width: 100%;
    max-height: calc(100% - 40px);
    object-fit: contain;
}

.distances-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.vertex-name, .distance-name {
    color: #C60C30;
}

.distances-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: white;
}

.distances-container th, .distances-container td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.time-section {
    margin-bottom: 20px;
}

.time-heading {
    color: #E4DB49;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.time-display p {
    font-size: 18px;
    color: white;
}
